<%- include ('../partials/head') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <div style="width: 70vw; float:left; height:80vh; background:gray; margin:10px">
        First box
        </div>
    <div id="wrapper" style="width: 20vw; float:left; height:80vh;">
        <div style="width: 20vw; float:top; height:53.5vh; background:gray; margin:10px">
            Second box
        </div>
        <div style="width: 20vw; float:bottom; height:25vh; background:gray; margin:10px">
            Third box
        </div>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>