<%- include ('../partials/header') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-8 left-col">
          <div class="left-div" style="background:lightgrey">
            <!-- content for the left div goes here -->
            Anything Here
          </div>
        </div>
        <div class="col-md-4">
          <div class="right-div" style="background:lightgrey">
            <!-- content for the right div goes here -->
            <table class="table" id="Ranking">
              <thead>
                  <tr>
                    <th scope="col">Ranking</th>
                  </tr>
              </thead>
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Level</th>
                  <th scope="col">Score</th>
                </tr>
              </thead>
              <tbody>
                <tr><!--Names & Level & Score datas from backendDB, this just a example-->
                  <th scope="row">1</th>
                  <td>Person1</td>
                  <td>Expert(over 900)</td>
                  <td>1049</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Person2</td>
                  <td>Advanced(700-800)</td>
                  <td>728</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Person3</td>
                  <td>Intermediate(500-600)</td>
                  <td>596</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Person4</td>
                  <td>Beginner(100-300)</td>
                  <td>137</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="bottom-div col-md-12" style="background:lightgrey">
            <!-- content for the left div goes here -->
            <table class="table" id="Add Friend">
              <thead>
                  <tr>
                    <th scope="col">Lookup Friend</th>
                  </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <style>
      .left-col {
        padding-right: 1%;
      }
    </style>
    
  </div>
</main>

<%- include ('../partials/footer') %>