<%- include ('../partials/head') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <div style="width: 70vw; float:left; height:80vh; background:gray; margin:10px">
        First box
        </div>
    <div id="wrapper" style="width: 20vw; float:left; height:80vh;">
        <div style="width: 20vw; float:top; height:53.5vh; background:gray; margin:10px">
            Second box
        </div>
        <div style="width: 20vw; float:bottom; height:25vh; background:gray; margin:10px">
            Third box
        </div>
    </div>
    <div style="width:30%; float:left; background:lightgrey; margin:10px">
        <table class="table" id="Ranking">
            <thead>
                <tr>
                  <th scope="col">Ranking</th>
                </tr>
            </thead>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Level</th>
                <th scope="col">Score</th>
              </tr>
            </thead>
            <tbody>
              <tr><!--Names & Level & Score datas from backendDB, this just a example-->
                <th scope="row">1</th>
                <td>Person1</td>
                <td>Expert(over 900)</td>
                <td>1049</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Person2</td>
                <td>Advanced(700-800)</td>
                <td>728</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Person3</td>
                <td>Intermediate(500-600)</td>
                <td>596</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Person4</td>
                <td>Beginner(100-300)</td>
                <td>137</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>