<%- include ('../partials/header') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <form action="/register" method="POST">
        <input name="username"/>
        <input name="password"/>
        <button type="submit">Register</button>
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>