<!-- Currently displays one workout given parameters, do we want to display multiple workouts?
Needs css to look better
Working on formatting, more in the middle of the page, smaller, easier to read -->
<main>

      <div class="container">
        <!-- THE REST OF YOUR HTML CODE GOES HERE -->
        <table style="border-collapse: separate; border-spacing:20px 0;">
            <tr>
                <th>Name</th>
                <th>Instructions</th>
            </tr>
            <% data.forEach(function(item) {%>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.instructions %></td>
                </tr>
            <% }); %>
        </table>
      </div>

</main>

