<%- include ('../partials/head') %>


<main>
    <div class="container">
      <form action="/workouts" method="POST">
        <h1>Search Workout</h1>
        <label for="muscle-group">Muscle Group</label>
        <input type="text" id="muscle-group" name="muscle-group"/>

      </form>
      
    </div>
</main>


<%- include ('../partials/footer') %>